

   /* Base styles */
.landing-main-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
  }
  
  .frame-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .frame-intro-msg {
    max-width: 600px; /* Adjust max-width as needed */



    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  .frame-intro-msg p{
    font-size: 50px;
    text-align:left;
  }
  .landing-main-frame .btn{
    width: 150px;
    background: black;
    height: 50px;
    color:white;
    margin-top:30px;
    border-radius: 50px;

  }
  .landing-main-frame .btn:hover{
    cursor: pointer;
  }
  .landing-main-frame .btn p{
    font-size: 17px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
  }
  .right-image {
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .down-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .down-section img {
    max-width: 100%;
    height: auto;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 600px) {
    .frame-intro-msg p{
      font-size: 25px;
      text-align:left;
      font-weight: 100;

    }
  }
  @media screen and (min-width: 768px) {
    /* Adjustments for tablets and larger screens */
    .landing-main-frame {
      padding: 40px;
    }
   
    
  
    .frame-one {
      flex-direction: row;
      gap: 40px;
    }
  
    .frame-intro-msg {
      text-align: left;
    }
  
    .right-image {
      margin-top: 0;
      margin-left: auto; /* Align right image to the right */
    }
  
    .down-section {
      gap: 20px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* Adjustments for desktop screens */
    .landing-main-frame {
      padding: 60px;
    }
  
    .frame-intro-msg {
      max-width: 800px; /* Increase max-width for larger screens */
    }
    
  }
  