
/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: #fce3fe; */
  }
  .input-frame-cat-fram{
    width: 100%;
    border:1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
  }
  
  .input-frame {
    width: 100vw;
    max-width: 500px;
    margin-bottom: 20px;
    /* border:2px solid #ccc; */
    
  }
  .cat-recommendation{
    width:30%;
  }
  .cat-recommendation .des{
    margin-top:40px;
  }
  .des p{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 20px;
  }
  .cat-items{
    margin: 80px 15px;
    padding: 10px;
    border:1px solid red;

  }
  .cat-items img{
    height: 100%;
  }
  select{
    margin-top: 50px;
    margin-bottom: 40px;
    border:0.5px solid #ccc;
    width: 400px;
  }
  
  .input-frame label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-frame .input-box,
  .input-frame div {
    margin-bottom: 15px;
  }
  
  .input-frame input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rec-heading{
    margin:50px;
    border-bottom: 0.5px solid #ccc;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
  }
  .rec-heading h3{
    margin: 20px 10px 20px 160px;

  }
  
  .items {
    margin: 10px;
    flex: 1 1 200px;
    max-width: 200px;
  }
  
  .img-fluid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Tablet styles */
  @media (min-width: 600px) and (max-width: 1024px) {
    .input-frame {
      width: 80%;
    }
  
    .recommendations {
      justify-content: space-around;
    }
  
    .items {
      flex: 1 1 45%;
      max-width: 45%;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 599px) {
    .input-frame {
      width: 90%;
    }
  
    .recommendations {
      flex-direction: column;
      align-items: center;
    }
  
    .items {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    button {
      width: 100%;
      padding: 15px;
    }
  }
  