*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.measurement-main-frame{
   
    
}
.input-frames{
    margin:20px;
    display: flex;
    flex-direction: column;
    /* border:3px solid rgb(153, 36, 36); */
    justify-content: space-around;
}
.sizes-frame{
    border:1px solid gray;
    width: 30%;
}
label{
    font-size:17px;
    margin:10px;
}
.sizes-frame select{
    display: inline-flex;
    flex-direction: column;
    width: 220px;
    height: 30px;
    margin:7px 8px;
    /* border:2px solid red; */
}
.select-class{
    margin-left:170px;
}

.btn-frame{
    display: flex;
    margin-top:25px;
}
.btn-frame button{
    width: 500px;
    height: 50px;
    background: green;
    color: #fff;
    font-size: 22px;

}
 button:hover{
    cursor: pointer;
}

.img-frame{
    height: 77vh;
    width: 30%;
    border:1px solid gray;
}
img{
    height: 100%;
    width: 100%;
}
.recommendation-option{
   
}
.recommed-display-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border:1px solid gray;
    height: 70vh;
}
.recommendation-option h3{
    display: flex;
    margin: 30px;
    font-size: 45px;

}
.recommendation-option .r-option{
    width: 20%;
    height: 60%;
    margin: 30px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    /* margin: auto; */
}