/* *{
    padding: 0;
    margin: 0;
}
form{
    height: 800px;
    border:2px solid red;

}
.form-input-frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    border:2px solid red;
   
    margin:auto;
    margin-left:50px;
}
.form-input-frame input{
 margin: 10px 20px;
 height: 40px;
 width: 60%;
 padding-left: 10px;
}
.form-input-frame .input-file{
    border:1px solid gray;
    width: 80%;
    height: 40px;
    margin-left:80px;
}
.star-main-frame{
    margin:20px;
    border:2px solid gray;
    width: 40%;
    margin:auto;
}

.stars > span{
    font-size: 40px;
    cursor: pointer;
}
.star-selected{
    font-size: 40px;
    color:rgb(244, 174, 16);
    cursor: pointer;
}
.star-selected:hover{
    font-size: 40px;
    color:rgb(244, 174, 16);
    cursor: pointer;
} */



.form-frame{
   
    border-top:1.5px solid gray;
    margin-top:60px;
}
.form-input-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1.5px solid gray;
    width: 70%;
    margin:auto;
    margin-top:60px;
    padding-top:20px;

  }
  
  .form-input-frame > div {
    margin-bottom: 20px;
   
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 600px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  /* span{
    border:1px solid  #ccc;
    margin-left: 20px;
  } */
  
  .input-file {
    margin-top: 20px;
  }
  .form-input-frame .input-file{
    border:1px solid #ccc;
    width: 65%;
    height: 40px;
    margin-left:80px;
    border-radius:5px;
    padding:10px;
}
  
  button {
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 30px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .star-main-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .stars {
    display: flex;
    justify-content: center;
  }
  
  .stars span {
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .star-selected {
    color: orange;
  }
  