
.main-footer{
    display:flex;
    justify-content:center;
    justify-items:center;
    height:150px;
    width:100vw;
    background:"green";
    color:"#fff";
    background-color: azure;
}
.main-footer h1{
    margin: 60px auto;
}

@media only screen and (max-width: 600px) {
    .main-footer {
     display: flex
    }
    .main-footer h1{
        margin: auto;
        font-size: 23px;
    }
}